<div class="container">
  <div>
    <div class="pic"><img src="../public/images/box3.png" alt="" srcset="" /></div>
    <div>
      <p>Username: Anna Brown</p>
      <p>Age: 25</p>
      <p>Gender: Female</p>
      <p>Email: annabrown@gmail.com</p>
      <p>Address: Brooklyn, America</p>
      <p>Role: Software Engineer</p>
    </div>
  </div>
  

